* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
html {
	position: relative;
	min-height: 100%;
}
body {
	font-family: Arial;
	color: #454545;
	font-size: 12px;
	line-height: 160%;
	margin: 0 0 250px; /* bottom = footer height + 50px margin*/
}
a {
	text-decoration: none;
	color: #19aacf;
}
p {
	margin-bottom: 1em;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.75em;
	font-weight: normal;
}
.container {
	margin: 0 auto;
	width: 960px;
	padding-left: 10px;
	padding-right: 10px;
}
.container:after {
	content: "";
	display: table;
	clear: both;
}
#main-content {	
	padding-top: 25px;
}
#main-banner {
	height: 300px;
	padding-top: 90px;
	background: url('../img/bg-image.jpg') center center no-repeat;
	background-size: cover;
	width: 100%;	
	color: #FFF;
}

/*----- Button Styles -----*/

.btn {
	background: #9fc343;
	padding: 10px;
	border-radius: 3px;
	color: white;
	moz-box-shadow: 0 1px 1px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.75);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.75);
	box-shadow: 0 1px 1px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.75);
	text-shadow: 0px 1px 1px #555555;
	border: 1px solid #538301;
	font-size: 14px;
}
.btn.left {
	margin-right: 10px;
}
.btn:hover {
	background: #8eb932;
}
.btn-entry {
	width: 100%;
	margin-top: 10px;
	text-align: center;	
	display: inline-block;
}

/*----- Navigation Styles -----*/

header {
	background: #323232;
	color: #a6a6a6;
}
.primary-nav li, .nav-user li {
	float: left;
	list-style: none;
	margin-right: 10px;	
}
.nav-user li {
	margin-right: 0;
	margin-left: 10px;
}
.nav-user li a:hover {
	background: #2daacd;
	color: #FFF;
	border-radius: 3px;
}
.primary-nav a:hover {
	color: #FFF;
}
.nav-userlist .item1:after {
	content: "|";
	padding-left: 8px;
}
.primary-nav {
	float: left;
}
.nav-user {
	float: right;
	vertical-align: middle;
}
.primary-nav a, .nav-user a{
	color: #a6a6a6;
	padding: 5px;
}
.primary-nav li, .nav-user li {
	padding: 1em 0;
}
.header-branding {
	background: url('../img/background.png') #2daacd;;
	color: #FFF;
	padding: 1.5em 0;
}
.header-branding h1 {
	margin: 0;
}
.homepage-marketing-heading {
	font-size: 2.5em;
	text-align: center;
	margin-top: 0.75em;
	text-shadow: 0 1px 0px #151515;
}
.homepage-marketing-heading a{
	color: #FFF;
}
.homepage-mast-actions {
	text-align: center;
	padding-top: 1.5em;
}

/*----- Form Styles -----*/
form {
	width: 500px;
	margin: 0 auto;
}
form input[type=text], form input[type=password], form textarea {
	padding: 5px;
	width: 500px;
	margin-bottom: 15px;
}
form select {
	height: 30px;
	width: 500px;
	margin-bottom: 15px;
}
form input[type=submit] {
	width: 500px;
	padding: 5px;
	margin: 10px 0;
}
label {
	display: block;
	margin-bottom: 8px;
}
.validation-error {
	color: #D8000C;
	background-color: #FFBABA;
	list-style: none;
	padding: 10px;
	border: 1px solid;
	margin: 5px 0;
}
.validation-errors {
	margin: 0 auto;
	width: 500px;
}

/*----- Frontpage Table Style -----*/

table {
	width: 100%;
	font-size: 12px;
	border-collapse: collapse;
}
table th {
	background: #868E9D;
	color: #FFF;
	font-size: 11px;
	padding: 3px 0;
}
table td {
	border: 1px solid #eaeaea;
	padding: 15px 0;
}
table .column-40 {
	text-align: left;
	width: 40%;
	padding-left: 15px;
}
table .column-20 {
	text-align: center;
	width: 20%;
	font-weight: bold;
}
table .column-10 {
	text-align: center;
	width: 10%;
}
table .cat {
	font-size: 12px;
}

/*----- Entries -----*/

	/*----- Tempory placeholder for contest entry image -----*/
	.entry-item {
		width: 200px;
		padding: 10px;
		float: left;		
		text-align: center;
		margin-right: 40px;
		list-style: none;
		background: #323232;
		border: 1px solid lightgrey;
		margin-bottom: 20px;
		color: #FFF;
	}
	.entry-item img {
		max-width: 180px;
		max-height: 140px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;		
	}
	.entry-item.last {
		margin-right: 0; 
	}
	.entry-item .preview {
		position: relative;
		float: left;
		width: 180px;
		height: 140px;
		background: #FFF;
		margin-bottom: 10px;
	}
	#preview {
		position:absolute;
		background:#000;
		padding:5px;
		display:none;
		color:#fff;
		z-index: 2;
	}
	#preview img {
		max-width: 500px;
		max-height: 400px;
	}
	.entries-header {
		border-bottom: 1px solid #dae3e3;
		margin-bottom: 25px;
		text-align: center;
		position: relative;
	}
	.entries-header h2 {
		position: relative;
		top: 20px;
		padding: 0 20px;
		background: white;
		display: inline-block;
	}


/*----- Single Contest Styles -----*/

.startdate {
	color: #6abe59;
}
.enddate {
	color: red;
}

#contest-details, #contest-briefing {
	background: #f5f5f5;
	padding: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#contest-briefing {
	margin-top: 20px;
}

/*----- Footer Styles -----*/
footer {
	position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
    background: #f5f8f9;
    border-top: 1px dashed grey;
}