* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
html {
	position: relative;
	min-height: 100%;
}
body {
	font-family: Arial;
	color: #454545;
	font-size: 12px;
	line-height: 1.6;
	margin: 0 0 325px; /* bottom = footer height + 50px margin*/
}
a, .blue {
	text-decoration: none;
	color: #19aacf;
}
p {
	margin-bottom: 1em;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.75em;
	font-weight: normal;
}
.container {
	margin: 0 auto;
	width: 960px;
	padding-left: 10px;
	padding-right: 10px;
}
.container:after {
	content: "";
	display: table;
	clear: both;
}
#main-content {	
	padding-top: 25px;
}
#main-banner {
	height: 300px;
	padding-top: 50px;
	background: url('../img/bg-image.jpg') center center no-repeat;
	background-size: cover;
	width: 100%;	
	color: #FFF;
}
.proces-steps {
	background: url('../img/steps.png');
	width: 960px;
	height: 453px;
	color: #FFF;
	margin-top: 50px;
}
.proces-steps h1 {
	margin-bottom: 0;
}
.proces-steps p {
	font-size: 10px;
}
.proces-steps #step1 {
	width: 300px;
	margin-left: 380px;
	padding-top: 30px;
}
.proces-steps #step2 {
	float: right;
	width: 250px;
	padding-top: 100px;
	margin-right: 100px;
}
.proces-steps #step3 {
	float: left;
	width: 250px;
	padding-top: 100px;
	margin-left: 200px;
}
.proces-steps #step4 {
	float: left;
	width: 500px;
	padding-top: 75px;
	margin-left: 250px;
}

/*----- Button Styles -----*/

.btn {
	background: url('../img/button.png') no-repeat center top;
	background-size: 160px 210px;
	width: 25%;	
	height: 105px;
	line-height: 80px;
}
.btn:hover {
	background-position: bottom;
}
.second-btn {
	background: url('../img/button2.png') no-repeat center top;
	background-size: 160px 240px;
	height: 120px;
}
.btn.left {
	float: left;
	margin-left: 25%;
}
.btn.right {
	float: right;
	margin-right: 25%;
}
.btn a {
	color: #FFF;
	width: 100%;
	height: 100%;
	display: block;
}
.btn-entry {
	width: 100%;
	margin-top: 10px;
	background: #2daacd;
	color: #FFF;
	height: 40px;
	line-height: 40px;
	text-align: center;	
	display: inline-block;
}

/*----- Navigation Styles -----*/

header {
	background: #323232;
	color: #a6a6a6;
}
.primary-nav li, .nav-user li {
	float: left;
	list-style: none;
	margin-right: 10px;	
}
.nav-user li {
	margin-right: 0;
	margin-left: 10px;
}
.nav-user li a:hover {
	background: #2daacd;
	color: #FFF;
	border-radius: 3px;
}
.primary-nav a:hover {
	color: #FFF;
}
.nav-userlist .item1:after {
	content: "|";
	padding-left: 8px;
}
.primary-nav {
	float: left;
}
.nav-user {
	float: right;
	vertical-align: middle;
}
.primary-nav a, .nav-user a{
	color: #a6a6a6;
	padding: 5px;
}
.primary-nav li, .nav-user li {
	padding: 1em 0;
}
.header-branding {
	background: url('../img/background.png') #2daacd;;
	color: #FFF;
	padding: 1.5em 0;
}
.header-branding h1 {
	margin: 0;
}
.homepage-marketing-heading {
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
	margin-top: 0.75em;
}
.homepage-marketing-heading a {
	color: #FFF;
	text-decoration: underline;
}
.homepage-mast-actions {
	text-align: center;
}

/*----- Form Styles -----*/
form, #register-now, #form-header {
	margin: 75px auto 0 auto;
	width: 400px;
	padding-top: 30px;
	padding-bottom: 30px;
	background: #f5f5f5;
	text-align: center;
}
form {
	margin-top: 0;
	padding: 20px;
}
form input[type=text], form input[type=password], form textarea {
	height: 50px;
	padding-left: 10px;
	width: 360px;
	margin-bottom: 15px;
	border: 1px solid #cdd9de;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
form textarea {
	height: 200px;
	padding-top: 10px;
}
form select {
	height: 50px;
	margin-bottom: 15px;
	border: 1px solid #cdd9de;
	width: 360px;
	padding-left: 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
form input[type=submit] {
	background: #2daacd;
	border: none;
	color: #FFF;
	width: 360px;
	padding: 5px;
	display: block;
	margin: 0 auto;
	height: 40px;
	font-weight: bold;
}
form label {
	display: block;
	margin: 0 0 8px 2px;
	float: left;
}
form input[type=checkbox] {
	margin-top: 10px;
}
.remember-me, .remember-me label {
	margin: 10px 100px 0 0;
}
.remember-me label {
	margin: 7px 0 0 100px;
}
#form-header {
	border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	background: #2daacd;
	text-align: left;
	padding-left: 20px;
	color: #FFF;
	padding: 20px;
}
#register-now {
	margin-top: 10px;
	padding: 10px;	
}
form #email {
	background: url('../img/icons-login.png') no-repeat #FFF;
	background-position: 330px 15px;
}
form #password {
	background: url('../img/icons-login.png') no-repeat #FFF;
	background-position: 330px -47px;
}
.validation-error {
	color: #D8000C;
	background-color: #FFBABA;
	list-style: none;
	padding: 10px;
	border: 1px solid;
	margin: 5px 0;
	display: block;
}
.describe-contest {
	float: left;
	clear: left;
}
aside {
	float: right;
	width: 500px;
}
aside ul li {
	margin-left: 15px;
	padding: 2px 0;
}

/*----- Frontpage Table Style -----*/

table {
	width: 100%;
	font-size: 12px;
	border-collapse: collapse;
}
table th {
	background: #868E9D;
	color: #FFF;
	font-size: 11px;
	padding: 3px 0;
}
table td {
	border: 1px solid #eaeaea;
	padding: 15px 0;
}
table .column-40 {
	text-align: left;
	width: 40%;
	padding-left: 15px;
}
table .column-20 {
	text-align: center;
	width: 20%;
	font-weight: bold;
}
table .column-10 {
	text-align: center;
	width: 10%;
}
table .cat {
	font-size: 12px;
}

/*----- Entries -----*/

	/*----- Tempory placeholder for contest entry image -----*/
	.entry-item {
		width: 200px;
		padding: 10px;
		float: left;		
		text-align: center;
		margin-right: 46px;
		list-style: none;
		background: #323232;
		border: 1px solid lightgrey;
		margin-bottom: 20px;
		color: #FFF;
		position: relative;
	}
	.entry-item img, #contest-winner img {
		max-width: 180px;
		max-height: 140px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		border: none;		
	}
	.entry-item.last {
		margin-right: 0; 
	}
	.entry-item .preview, #contest-winner .preview {
		position: relative;
		float: left;
		width: 180px;
		height: 140px;
		background: #FFF;
		margin-bottom: 10px;
	}
	.delete-entry {
		right: 15px;
		top: 15px;
		height: 16px;
		width: 16px;
		position: absolute;
		z-index: 50;
		background: url('../img/delete-icon.gif');
		cursor: pointer;
	}
	#preview {
		position:absolute;
		background:#000;
		padding:5px;
		/*- fixes the preview bottom padding bug -*/
		padding-bottom: 1px;
		display:none;
		color:#fff;
		z-index: 2;
	}
	#preview img {
		max-width: 500px;
		max-height: 400px;
	}
	.entries-header {
		border-bottom: 1px solid #dae3e3;
		margin-bottom: 25px;
		text-align: center;
		position: relative;
	}
	.entries-header h2 {
		position: relative;
		top: 20px;
		padding: 0 20px;
		background: white;
		display: inline-block;
	}
	.winning-design {
		background: url('../img/ribbon.png');
		width: 50px;
		height: 105px;
		position: absolute;
		z-index: 1;
		right: 10px;
		top: -5px;
	}


/*----- Single Contest Styles -----*/

.startdate {
	color: #6abe59;
}
.enddate {
	color: red;
}
.section-box {
	background: #FFF;
	padding: 20px;
	margin-bottom: 20px;
	color: #777;
	border: 1px solid #DDD;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.contest-entries {
	overflow: hidden;
}
#contest-winner {
	overflow: hidden;
}
#contest-winner .left {
	width: 50%;
	float: left;
}
#contest-winner .right {
	width: 50%;
	float: right;
}
#contest-winner .preview {
	border: 1px solid #DDD;
	width: 430px;
	height: 160px;
	margin-left: 20px;
}
#contest-winner img {
	padding: 10px;
	max-width: 430px;
	max-height: 160px;
}

/*----- Comments -----*/
.comment-header {
	padding: 15px 0 15px 50px;
}
.avatar {
	height: 34px;
	width: 34px;
	float: left;
	margin-left: -50px;
}
.author {
	font-weight: bold;
	font-size: 16px;
	line-height: 34px;
}
.timestamp {
	line-height: 34px;
	font-size: 10px;
	padding-left: 20px;
}
.comment-body {
	padding: 15px 0 15px 50px;
}
.comments textarea {
	width: 100%;
	border-color: #dddddd;
	margin: 15px 0;
}
.comments textarea:focus {
	outline: none;
}
.comments form {
	width: 100%;
	padding: 0;
	background: none;
	position: relative
}
.comments input[type=submit] {
	position: absolute;
	bottom: 30px;
	right: 10px;
	width: 150px;
}
.comments .comment {
	border-bottom: 1px solid #DDD;
	padding-bottom: 30px;
}

/*----- Footer Styles -----*/
footer {
	position: absolute;
    left: 0;
    bottom: 0;
    height: 275px;
    width: 100%;
    background: #f5f8f9;
    border-top: 1px dashed grey;
    padding-top: 25px;
}
.footer-column {
	width: 25%;
	float: left;
}
.footer-column h2 {
	font-size: 12px;
	font-weight: bold;
}
.footer-column ul li {
	padding: 2px 0;
	margin-left: 15px;
}